
<!DOCTYPE html>
<html>
	<head>
		<title>Datasucker</title>
	 
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div align="center"><strong>Last Updated:</strong> <%= new Date(parseInt(lastupdated)) %></div>
	</body>
</html>
